/* ---------------------------------------- footer style css                 
                ------------------------------------------------------------------------------------------------------- */

                .footer {
                    padding: 5rem 0;
                    background-color: #182334;
                    color: #fff;
                  }
                  .footer h4 {
                    color: #fff;
                  }
                  .footer a {
                    color: #fff;
                  }
                  .footer h5 {
                    color: #fff;
                  }
                  